# Project exclude paths
/out/
/Lebenslauf_Nicolas_Mahn.txt
/src/Lebenslauf_Nicolas_Mahn.txt
/src/META-INF/
/target/classes/CV$1.class
/target/classes/CV.class
/target/classes/objects/EducationalPath.class
/target/classes/objects/Experience.class
/.idea/jarRepositories.xml
/target/classes/utils/Languages.class
/target/classes/Lebenslauf$1.class
/target/classes/Lebenslauf.class
/target/classes/Main.class
/target/classes/objects/Qualification$MainTopic.class
/target/classes/objects/Qualification.class
/target/classes/objects/StaysAbroad.class
/target/classes/tuple/Tuple.class
/target/classes/tuple/Tuple3.class
/target/classes/tuple/Tuple4.class
/target/classes/tuple/Tuple9.class
/target/classes/tuple/Tuple20.class
/.idea/uiDesigner.xml
/target/classes/utils/Utils.class
